@charset "utf-8";
.margin{width:1190px;margin: 0 auto;}

#top{height: 35px;background: #f5f5f5;border: 1px solid #eee;}
#top .margin{}
#top .top-l{float: left;}
#top .top-l a{font: 12px/35px ""; color: #6c6c6c;}
#top .top-l a.first{color: #f22e00;}
#top .top-r{float: right;}
#top .top-r a{font: 12px/35px "";color: #6c6c6c;background: url(../images/t4.png) no-repeat right;padding-right: 10px;}

#top .top-r a.te i{color: #f22e00;}
#top .top-r a span{margin: 0 0 0 15px;vertical-align: middle;}
#top .top-r a span.ll{color: #e1dde1;}

nav{height: 174px;}
nav .logo{float: left;margin: 36px 0 0 22px;}
nav .nav-c{float: left;margin: 40px 0 0 72px;}
nav .nav-c .nav-c-l li{float: left;}
nav .nav-c .nav-c-l li a{display: block;font: 12px/24px "";color: #ff5400;padding:0 12px 0 12px;}
nav .nav-c .nav-c-l li a:hover{color: #ccc;background: #ff5400;}

nav .nav-c .nav-c-c{width:625px;background: #fff;height:40px;border: 3px solid #ff5500 ;float: left;}
nav .nav-c .nav-c-c .txt{font: 12px/40px "";border: 0; outline: none;text-indent: 30px;float: left;width: 500px;height: 40px; margin: 0 0 0 3px;background: url(../images/t5.png) no-repeat 10px,url(../images/t6.png) no-repeat right;}
nav .nav-c .nav-c-c .btn{width: 122px;height: 40px;border: 0px;outline: none;background: #ff5500;font: 700 17px/34px "";color: #fff;}
nav .nav-c p{float: left;font-size: 20px;height: 40px;width: 40px;margin-left: 10px;}




nav .nav-c .nav-c-b{}
nav .nav-c .nav-c-b li{float: left;}

nav .nav-c .nav-c-b li a{font: 12px/32px "";margin: 0 14px 0 0 ;}
nav .nav-c .nav-c-b li a.te{margin-left: 32px;background: url(../images/t7.png) no-repeat right;padding-right: 10px;}
nav .nav-c .nav-c-b li a:hover{color: red;}


nav .logo2{float: right;margin-top: 44px;}












